<h1 class="page-title">My Rooms</h1>

<% if @rooms.any? %>
  <ul class="room-list">
    <% @rooms.each do |room| %>
      <li class="room-item">
        <h2 class="room-name"><%= room.name %></h2>
        <p class="room-description"><%= room.description %></p>
        <p class="room-price">Price per night: <%= number_to_currency(room.price_per_night) %></p>
        <p class="room-capacity">Capacity: <%= room.capacity %> guests</p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="no-rooms">You have no rooms listed.</p>
<% end %>
